<header class="search-content small">
	<div class="content">
		<h1 class="headline">
			<a href="/">
			Search statistics
			</a>
		</h1>
		<a href="/statistics" class="pull-right analysis-link" data-method="delete" data-confirm="Are you sure?">Clear statistics</a>
	</div>
</header>

<section class="search-results">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-striped data-table">
					<thead>
						<tr>
							<th>Search content</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<% @searches.each do |search, count| %>
						<tr>
							<td><%= search %></td>
							<td><%= count %></td>
						</tr>
						<% end %>
					</tbody>
				</table>		
			</div>
		</div>
	</div>
</section>